html
{
	height : 100%;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	font-family : "Helvetica neue", Arial;
}

body
{
	height: 100%;
	min-height: 650px;
	width: 500px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
	background-color: #fafafa;
	display: block;
	padding: 0;
	z-index: 200;
	margin: auto;
}

.button
{
	text-decoration : none;
	outline: 0;
	color : white;
	padding : 0px;
	margin : 0px;
	-moz-transition : color 0.2s linear 0s;
	font-weight: bold;
	border-radius:4px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	background-color: grey;
	padding: 5px 10px 5px 10px;
}

#map_canvas
{
	display: block;
	height: 300px;
	width: 95%;
	margin: auto;
	border-radius:4px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.46) inset;
}

#mapTitle
{
	display: block;
	margin-left: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

#headButtons
{
	display: block;
	margin-bottom: 30px;
}

#driveInfo
{
	display: block;
	width: 95%;
	margin: 15px auto auto auto;
}

#driveInfo label
{
	margin-bottom: 5px;
	display: block;
}

.Select
{
	display: block;
	margin-bottom: 10px;
}

#logout
{
	float: right;
	vertical-align: top;
	margin-right: 10px;
	margin-top: 10px;
}