@(message: String)(implicit request: RequestHeader)

@main("BE for Drives") {
 
<form id="registrationForm" method="post" action="registering" class="logf">
	<input type="text" name="username" placeholder="Username" id="usernamesignup" class="signUpFormInput" size="10" maxlength="255"/><br>
	<input type="text" name="firstname" placeholder="Firstname" id="usernamesignup" class="signUpFormInput" size="10" maxlength="255"/><br>
	<input type="text" name="phonenumber" placeholder="Phone number" id="usernamesignup" class="signUpFormInput" size="10" maxlength="255"/><br>
	<input type="text" name="mail" id="mailsignup" placeholder="Email" class="signUpFormInput" autocomplete="off" size="10" maxlength="255"/><br>
	<input type="password" name="pass" id="passsignup" placeholder="New password" class="signUpFormInput" autocomplete="off" size="10" maxlength="255"/><br>
	<input type="submit" id="subsignup" value="Sign Up" class="button"/>
</form><br>


<form method="post" class="logf" action="logging">
	<input type="text" name="username" placeholder="Username" id="mailsignin" class="signFormInput" size="10" maxlength="255" value=""/>
	<div class="passsub">
		<input type="password" name="pass" placeholder="Password" id="passsignin" class="signFormInput" size="10" maxlength="255"/>
		<input type="submit" id="subsignin" value="Log In" class="button"/>
	</div>
</form>
}